@forward 'vuetify/settings' with (
  $button-height: 24px,
  $button-border-radius: 8px,
  $button-text-transform: none,
  $field-input-min-height: 32px,
  $field-input-padding-bottom: 8px,
  $field-input-padding-top: 8px,
  $label-opacity: 1,
  $label-color: #191919,
  $label-font-size: 14px,
  $input-details-padding-above: 8px,
  $button-text-letter-spacing: 0,
  $button-font-weight: 600,
  $button-font-size: 14px,
  $table-header-height: 48px,
  $table-row-height: 48px,
  $table-font-size: 14px,
  $table-line-height: 16px,
  $label-letter-spacing: 0,
  $chip-font-size: 13px,
  $chip-height: 24px,
  $field-control-padding-start: 8px,
  $field-control-padding-end: 8px,
);