:root {
  --ui-primary: #2f80ed;
  --ui-secondary: #e0e0e0;
  --ui-error: #eb5757;
  --ui-success: #27ae60;
  --ui-text: #333333;
  --ui-background: #ffffff;
  --ui-table-row: #F8FAFF;
  --ui-table-row-hover: #EEF1FA;
  --ui-blue-color: #2F80ED;
  --ui-blue-light-color: #D5E6FB;
  --ui-orange-color: #FF6D02;
  --ui-grey-color: #666666;
  --ui-label-color: #191919;
  --ui-disabled-color: #B3B3B3;
  --ui-disabled-bg-color: #F2F2F2;
}