.sidebar {
  padding: 32px 24px;

  &-container {
    display: flex;
    flex-direction: column;
  }

  &-header {
    margin-bottom: 40px;
    border-bottom: 1px solid var(--ui-secondary);
    padding-bottom: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-title {
    text-overflow: ellipsis;
    overflow: hidden;
    height: 24px;
    font-weight: 700;
  }
}